.new-tweet {
  border-radius: 10px;
  display: block;
  border: 1px;
  padding: 10px;
  background-color: #eee;
}

.new-tweet h2 {
  border-bottom: 1px solid black;
}

.tweet-entry-field {
  width: 100%;
}

/*.tweet-button, .counter {
  display: flex;
  justify-content: space-between;
}*/

/*.tweet-button {
  float: left;
}*/

.counter {
  float: right;
  padding-top: 0.5em;
  font-style: italic;
  padding-right: 0.75em;
  font-size: 0.8em;
}

.over-limit {
  color: red;
}
